{{define "listOrder"}}
<!DOCTYPE html>
<html lang="en">
<head>
  {{template "_stylesheet"}}
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  {{template "_navigation"}}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <!-- ================================================== -->
            <div class="card">
              <div class="card-header">
              
                <h3 class="card-title">DataTable with default features</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Customer</th>
                    <th>Template</th>
                    <th>status</th>
                    <th>created at</th>
                    <th>created at</th>
                    <th>action</th>
                  </tr>
                  </thead>
                  <tbody>
                  {{range $index, $order := .orders}}
                  <tr>
                    <td>{{$order.CustomerName}}</td>
                    <td>{{$order.Template.String}}</td>
                    <td>{{$order.Status}}</td>
                    <td>{{date $order.CreatedAt}}</td>
                    <td>{{date $order.ExpiredAt}}</td>
                    <td>
                      <a class="btn btn-info btn-sm" href="#">
                          <i class="fas fa-pencil-alt">
                          </i>
                          Edit
                      </a>
                    </td>
                  </tr>
                  {{end}}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- ================================================== -->
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- ./Content Wrapper -->
  {{template "_footer"}}
</div>
<!-- ./wrapper -->
{{template "_script" .active}}

<script>
  $(function () {
    $("#example1").DataTable({
      "ordering": true,
      "info": true,
      "responsive": true, 
      "lengthChange": false, 
      "autoWidth": false
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  });
</script>


</body>
</html>
{{end}}
